{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="section-top">
        <div class="col-lg-12">
            <h1 class="text-center">

            </h1>
        </div>
    </div>
    <div class="section section1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Каталог товарів
                    </h1>
                </div>
                {% for product_image in products_images %}
                    {% include 'landing/product_item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="section section-delivery">
        <div>
            <img src="{% static 'media/effects.png' %}" class="img-responsive">
        </div>
    </div>
    <div class="section section2 phones-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Кратом
                    </h1>
                </div>
                {% for product_image in products_images_kratom %}
                    {% include 'landing/product_item.html' %}
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="section section3 laptops-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Китайський чай
                    </h1>
                </div>
                {% for product_image in products_images_chinese_tea %}
                    {% include 'landing/product_item.html' %}
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}